
swiper {
    margin-top: 8%;
    height: 500px;
    width: 100%;
}

.slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
}

body .slick-prev,
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}

.carousel-msg {
    position: absolute;
}

#text-1462603685 {
    color: rgb(255, 255, 255);
}
b,
strong {
    font-weight: bolder;
    font-weight: bold;
}
.section-title {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.section-title b {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.section-title-center {
    text-align: center;
    margin: 0 15px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-rendering: optimizeSpeed;
    color: #555;

}

.section-title-main {
    font-weight: 700;
    font-size: 130%;
}

h3 {
    width: 80% !important;
    margin: 0 auto !important;
    font-family: "Lato", sans-serif;
}

.group-slider {
    margin-top: 2em;
}

.group-slider > * {
    /* width: 25%;
    height: 300px; */
    margin-right: 20px;
    /* center images in cells with flexbox */
    background-color: rgb(225, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}