<!-- <div class="main-carousel">
    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
        <div class="carousel-cell main-carousel-cell">
            <div class="carousel-msg">
                <h3 id="text-1462603685">It has finally started</h3>
                <div class="is-divider divider clearfix"></div>
                <h2><strong><span style="font-size: 180%;">HUGE SALE</span></strong></h2>
                <h3 class="uppercase">UP TO 10% OFF</h3>
                <P><a routerLink="/shop" routerLinkActive="active">Shop Now</a></P>
            </div>
            <img src="../../assets/images/7.jpg" class="d-block w-100" alt="...">
            
        </div>
        <div class="carousel-cell main-carousel-cell"><img src="../../assets/images/1-1024x683-1.jpg" class="d-block w-100" alt="..."></div>
    </div>
</div> -->


<!-- <div class="container mt-5 text-center">
    <h3 class="mb-5">Angular Image Crop Example</h3>
    <div class="col-md-12">
        <input type="file" (change)="onFileChange($event)" />
    </div>
    <div class="col-md-8">
        <image-cropper [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
            [resizeToWidth]="256" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()"
            (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()">
        </image-cropper>
    </div>
    <div class="col-md-4">
        <h6>Image Preview</h6>
        <img [src]="cropImgPreview" />
    </div>
</div> -->


<swiper [config]="config">
    <div class="swiper-wrapper">
        <img class="swiper-slide" *ngFor="let img of Images" [src]="img.src" [alt]="img.alt" />
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>

<h3 class="section-title-center section-title">
    <b></b>
    <span class="section-title-main">CATEGORIES</span>
    <b></b>
</h3>

<div class="group-slider">
    <ng-image-slider  [infinite]="true" [autoSlide]="true" [images]="imgCollection" #nav></ng-image-slider>
</div>

<div class="container section-title-container" style="margin-top:41px;margin-bottom:21px;">
    <h3 class="section-title section-title-center"><b></b><span class="section-title-main"
            style="font-size:130%;">LATEST PRODUCTS</span><b></b></h3>
</div>