<div class="main-carousel">
    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
        <div class="carousel-cell main-carousel-cell">
            <div class="carousel-msg">
                <h3 id="text-1462603685">It has finally started</h3>
                <div class="is-divider divider clearfix"></div>
                <h2><strong><span style="font-size: 180%;">HUGE SALE</span></strong></h2>
                <h3 class="uppercase">UP TO 10% OFF</h3>
                <P><a routerLink="/shop" routerLinkActive="active">Shop Now</a></P>
            </div>
            <img src="../../assets/images/7.jpg" class="d-block w-100" alt="...">
            
        </div>
        <div class="carousel-cell main-carousel-cell"><img src="../../assets/images/1-1024x683-1.jpg" class="d-block w-100" alt="..."></div>
    </div>
</div>

<h3 class="section-title-center section-title">
    <b></b>
    <span class="section-title-main">CATEGORIES</span>
    <b></b>
</h3>

<!-- Flickity HTML init -->
<div class="second-carousel">
    <div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": true, "groupCells": true, "autoPlay": true }'>
        <div class="carousel-cell"><img src="../../assets/images/R-64.webp" alt=""></div>
        <div class="carousel-cell"><img src="../../assets/images/inverter.webp" alt=""></div>
        <div class="carousel-cell"><img src="../../assets/images/batteries.webp" alt=""></div>
        <div class="carousel-cell"><img src="../../assets/images/61a2c8d2bf422988703daac42785e13d_medium.jpg" alt=""></div>
        <div class="carousel-cell"><img src="../../assets/images/R-2022-02-14T072435.056.webp" alt=""></div>
        <div class="carousel-cell"><img src="../../assets/images/R-2022-03-04T003322.388.webp" alt=""></div>
        <div class="carousel-cell"><img src="../../assets/images/20w-solar-light-1.webp" alt=""></div>
        <div class="carousel-cell"><img src="../../assets/images/R-2022-02-14T072435.056.webp" alt=""></div>
    </div>
</div>

<div class="container section-title-container" style="margin-top:41px;margin-bottom:21px;">
    <h3 class="section-title section-title-center"><b></b><span class="section-title-main"
            style="font-size:130%;">LATEST PRODUCTS</span><b></b></h3>
</div>
