.main-carousel {
    margin: 7% 0 3em 0;
}

.main-carousel-cell {
    width: 100%;
    height: 80vh;
    margin-right: 10px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-msg {
    position: absolute;
}

#text-1462603685 {
    color: rgb(255, 255, 255);
}

b,
strong {
    font-weight: bolder;
    font-weight: bold;
}

.section-title {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.section-title b {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.section-title-center {
    text-align: center;
    margin: 0 15px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-rendering: optimizeSpeed;
    color: #555;

}

.section-title-main {
    font-weight: 700;
    font-size: 130%;
}

h3 {
    width: 80% !important;
    margin: 0 auto !important;
    font-family: "Lato", sans-serif;
}

/*Flicker css rule */
/* external css: flickity.css, fullscreen.css */

.second-carousel .carousel {
    margin-top: 2em;
}

.second-carousel .carousel-cell {
    width: 25%;
    height: 300px;
    margin-right: 20px;
    /* center images in cells with flexbox */
    background-color: rgb(225, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.carousel-cell-image {
    display: block;
    max-height: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
    max-width: 100%;
}
